- let title="Calculator"
doctype html
html
  head
    title=title
    link(rel="stylesheet", href="css/app.css")
    script(src="js/jquery-3.4.1.min.js")
    script(src="js/form.js")

  body
    h1 #{title}

    block content

    footer
      strong 
        a(href="docs") documentation