.opr-btns {
	text-align: center;
}

.error {
	color: red;
}

.container-table tr {
	vertical-align: middle;
}

.calculator-td{
	width: 300px;
}

.history-table {
	width: 100%;
	border-collapse: collapse;
}

.history-table tr:nth-child(even) {
	background: rgb(224, 224, 224)
}
.history-table tr:nth-child(odd) {
	background: #FFF
}

.history-line {
	border-bottom:1pt solid black;
}

.history-container {
	overflow-y: auto;
	padding: 5px 5px;
	margin: 5px 0;
	height: 200px;
	width: 500px;
	border: 1px solid;
}

.datetime-td {
	width: 35%;
}

footer {
	position: fixed;
	left: 20px;
	bottom: 20px;
	width: 100%;
	color: white;
}